.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
  color: #007f00;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal ul.none { list-style-type:none; }

.error {
  color: red;
}

.success {
  color: green;
}

.reveal div.terminal {
  font-family: monospace;
  font-size: 2rem;
  color: white;
  background: black;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: left;
  max-width: 450px;
  margin: auto;
}
